<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dpf.cloud.dao.DeptDao">

    <select id="findById" resultType="com.dpf.cloud.entities.Dept" parameterType="Long">
		select dept_id as deptId,name,db_source dbSource from dept where dept_id=#{deptId};
	</select>
    <select id="findAll" resultType="com.dpf.cloud.entities.Dept">
		select dept_id as deptId,name,db_source dbSource from dept;
	</select>
    <insert id="addDept" parameterType="com.dpf.cloud.entities.Dept">
		INSERT INTO dept(name,db_source) VALUES(#{name},DATABASE());
	</insert>

</mapper>


